---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-slate-700 text-white">
    <Header />
    <main class="max-w-screen-lg p-4 m-auto">
      <article>
        {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
        <div class="p-2">
          <div class="text-sm font-light">
            <FormattedDate date={pubDate} />
          </div>
          {
            updatedDate && (
              <div class="text-sm font-light">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
          <h1 class="text-xl font-bold">{title}</h1>
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
